ion-card {
    margin: 10px;
    text-align: center;
  }
  
  ion-card-title {
    font-size: 24px;
    margin-top: 10px;
  }
  
  ion-card img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --padding-end: 0px;
    margin: 5px 0;
  }
  