<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sistema
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sistema</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container> -->

  <ion-card>
    <ion-card-header>
      <ion-input readonly="true" label="Sua senha: " [value]="senhasService['inputNovaSenha']"></ion-input>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="warning" expand="block" (click)="senhasService.somaPrior('SP')" [disabled]="!senhasService.expedienteEmAndamento()">Senha Prioritária</ion-button>
      <ion-button color="success" expand="block" (click)="senhasService.somaExame('SE')" [disabled]="!senhasService.expedienteEmAndamento()">Senha Exame</ion-button>
      <ion-button expand="block" (click)="senhasService.somaGeral('SG')" [disabled]="!senhasService.expedienteEmAndamento()">Senha Geral</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-text color="danger" class="ion-text-center">
      <h1>Chamados:</h1> 
    </ion-text>
    <ion-list>
      <ion-item *ngFor="let senha of senhasService.senhasChamadas.slice(0, 5)">
        <ion-label>{{ senha }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
 
</ion-content>
