<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sitema para Controle de Atendimentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-item >
  Guichê e Senha:  <ion-item>
    <ion-icon name="{{senhaEmAtendimento?.icon }}" slot="start" color="{{senhaEmAtendimento?.color}}"></ion-icon>
    {{senhaEmAtendimento?.codigo}}
  </ion-item>
  Tempo Médio de Atendimento: {{ senhaEmAtendimento?.tempoMedio || 0 }} minuto(s).
 </ion-item>
 <ion-content>
  <ion-button (onChange)="atenderSenha($event)" (click)="atenderSenha($event);" [disabled]="botaoEstaDesabilitado" expand="block" slot="fixed" color="dark" size="medium" style="position: fixed; bottom: 20px; right: 20px;">
    Atender Próximo
  </ion-button>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>Últimas senhas chamadas:</ion-list-header>
        <ion-item *ngFor="let senha of senhasService.senhasOrdenadas">
          <ion-icon name="{{senha.icon}}" slot="start" color="{{senha.color}}"></ion-icon>
          {{senha.codigo}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>






