<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Guichê
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Guichê</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-explore-container name="Tab 2 page"></app-explore-container> -->

  <ion-card>
    <ion-card-content>
      <ion-button expand="block" (click)="chamarCliente()" [disabled]="!senhasService.expedienteEmAndamento()">Chamar o próximo da fila</ion-button>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>